<ul class="menu">
    {% for item in menu.get_items %}
        <li class="{{ item.classes | join(' ') }} main-menu-item {{ item.get_children ? 'dropdown' : '' }}">

            <a
                {% if item.link %}
                    href="{{ item.link }}"
                {% endif %}
               class="main-menu-link {{ item.get_children ? 'dropdown-toggle' : '' }}">{{ item.title }}</a>

            {% if item.get_children %}
                {% include('_menus/_submenu.twig') with {'item': item} %}
            {% endif %}
        </li>
    {% endfor %}
</ul>