{% set event = convertTo(post, 'EventPost') %}

<article class="post post--full event event--full post-type-{{ event.post_type }}
{% if event.get_thumbnail %}
has-image
{% endif %}
" id="post-{{ event.ID }}" itemscope itemtype="http://schema.org/Event">

    <h3 class="event-type">{{ TimberTerm(event.type).title }}</h3>

    {% if event.description %}
        <div class="event-description" itemprop="description">
            <h4>{{ _e('Beschreibung') }}</h4>
            {{ event.description }}
        </div>
    {% endif %}

    <div class="event-body">

        {% if event.target_audiences %}
            <div>
                <h4>{{ _e('Zielgruppe') }}</h4>
                <ul>
                {% for audience in event.get_field('target_audiences') %}
                    <li>{{ TimberTerm(audience) }}</li>
                {% endfor %}
                </ul>
                {#TODO: stub out#}
            </div>
        {% endif %}

        {% if event.location %}
            <div>
                <h4>Veranstaltungsort</h4>

                <div class="event-venue" itemprop="location" itemscope itemtype="http://schema.org/Place">
                    <span itemprop="name">{{ event.institution }} {{ event.room ? ', ' ~ event.room : '' }}</span>

                    <div class="address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        <span itemprop="streetAddress">{{ event.postal_code }}</span> <span
                                itemprop="addressLocality">{{ event.city }}</span><br>
                    </div>
                </div>

                {#<div class="event-location event-map">{{ event.map.display }}</div>#}
            </div>
        {% endif %}

        <div class="event-dates">

            {% if event.get_field('dates')|length > 1 %}
                <h4>{{ _e('Termine') }}</h4>
            {% endif %}

            {% for date in event.get_field('dates') %}
                <h5>{{ _e('Datum und Uhrzeit') }}</h5>
                <div class="event-date" itemprop="startDate" content="{{ date.start }}">
                    {{ date.start | date("d.m.Y") }} <small>{{ date.start_time ? date.start_time : '' }}</small>
                    –
                    {{ date.end | date ("d.m.Y") }} <small>{{ date.end_time ? date.end_time : '' }}</small>
                </div>
                <div class="event-duration">
                    {{ event.duration(date) }} {{ _e('Tage') }}
                </div>
            {% endfor %}

        </div>

        {% if event.price %}
            <div>
                <h4>{{ _e('Preis') }}</h4>

                <div class="event-price" itemprop="price" content="{{ event.price }}">{{ event.price }} €</div>
                <span itemprop="priceCurrency" content="EUR"/>
            </div>
        {% endif %}

        {% if event.cooperation %}
            <div class="event-cooperation">
                <h4>{{ _e('Kooperationspartner') }}</h4>

                <div class="event-cooperation-name">{{ event.cooperation }}</div>
            </div>
        {% endif %}

        {% if event.organizer %}
            <div class="event-organizer">
                <h4>{{ _e('Veranstalter') }}</h4>

                <div class="event-organizer-name">{{ event.organizer }}</div>

                {% if event.organizer_url %}
                    <div class="event-organizer-url">
                        <a href="{{ event.organizer_url }}" target="_blank">{{ event.organizer_url }}</a>
                    </div>
                {% endif %}

                {% if event.organizer_logo %}
                    <div class="event-organizer-logo">
                        <img src="{{ TimberImage(event.organizer_logo) }}" alt="">
                    </div>
                {% endif %}

                {% if event.organizer_contact %}
                    <div class="event-organizer-contact">
                        {{ event.organizer_contact }}
                    </div>
                {% endif %}

                {% if event.organizer_email %}
                    <div class="event-organizer-email">
                        <a href="mailto:{{ event.organizer_email }}">{{ event.organizer_email }}</a>
                    </div>
                {% endif %}
            </div>
        {% endif %}

        {% if event.url %}
            <div>
                <h4>{{ _e('Homepage') }}</h4>
                <a href="{{ event.url }}" target="_blank">{{ event.url }}</a>
            </div>
        {% endif %}

    </div>

    {% if event.location %}
        <div class="event-location event-map">{{ event.map.display }}</div>
    {% endif %}

</article>