{% if dates %}
    <section class="event-dates">
        <h3 class="section-headline">{{ __('Termine:') }}</h3>

        {% for date in dates %}

            {% set event_start = date['event-start'] | date('d.m.Y') %}
            {% set event_start_time = date['event-start-time'] %}
            {% set event_end = date['event-end'] | date('d.m.Y') %}
            {% set event_end_time = date['event-end-time'] %}
            {% set event_duration = date_diff(date['event-start'], date['event-end']) %}

            <div class="event-date">
                {% if event_duration %}
                    {{ event_start }} – {{ event_end }}
                    {#<small>{{ event_duration }} {{ event_duration > 1 ? _e('Tage') : _e('Tag') }}</small>#}
                {% else %}
                    {#<span class="event-date-aux">{{ _e('Termin:') }}</span> #}
                    {{ event_start }}
                {% endif %}
            </div>

            {#{% if event_duration %}

        {% endif %}#}

        {% endfor %}
    </section>
{% endif %}