<article class="post post--med {{ post.post_type }} {{ post.post_type }}--med
{% if post.image %}
has-image
{% endif %}
" id="post-{{ post.ID }}" itemscope itemtype="http://schema.org/Person">

    <div class="post-supplemental">
        {% if post.image %}
            <div class="post-image">
                <img src="{{ TimberImage(post.image | default( theme.uri ~ '/dest/img/fallback-person.jpg'))|resize(256,256) }}" itemprop="image" alt=""/>
            </div>
        {% endif %}

        {% if post.has_shop %}
            <span class="post-has_shop">{{ _e('Hofladen vorhanden.') }}</span>
        {% endif %}

        {% if post.offers %}
            <span class="post-offers">{{ post.offers }}</span>
        {% endif %}

        {% if post.address and post.postal_code and post.city %}
            <div class="post-address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                {% if post.address %}
                    <span itemprop="streetAddress">
                  {{ post.address }}
                </span>
                {% endif %}

                {% if post.postal_code and post.city %}
                    <span itemprop="postalCode">{{ post.postal_code }}</span>
                    <span itemprop="addressLocality">{{ post.city }}</span>
                {% endif %}
            </div>
        {% endif %}

        {% if post.opening_hours %}
            <span class="post-opening_hours">{{ post.opening_hours }}</span>
        {% endif %}

        {% if post.url %}
            <span class="post-url"><a href="{{ post.url }}" itemprop="url" target="_blank">{{ post.url }}</a></span>
        {% endif %}

        {% if post.phone %}
            <span class="post-phone" itemprop="telephone">{{ post.phone }}</span>
        {% endif %}

        {% if post.email %}
            <span class="post-email"><a href="mailto:{{ post.email }}" itemprop="email">{{ post.email }}</a></span>
        {% endif %}
    </div>

    <div class="post-main">
        <h4 class="post-title" itemprop="name">{{ post.post_title }}</h4>

        {% if post.subline %}
            <h5 class="post-subline">{{ post.subline }}</h5>
        {% endif %}

        <div class="post-description" itemprop="description">
            {{ post.description }}
        </div>
    </div>

</article>