{% set event = convertTo(post, 'EventPost') %}

<article class="post post--med event event--med post-type-{{ event.post_type }}
{% if event.get_thumbnail %}
has-image
{% endif %}
" id="post-{{ event.ID }}" itemscope itemtype="http://schema.org/Event">

    <header class="post-header">
        <h3 class="post-name" itemprop="name">
            <a href="{{ event.link }}">{{ event.post_title }}</a>
            <small class="event-type">{{ TimberTerm(event.type).title }}</small>
        </h3>
    </header>

    <div class="event-description" itemprop="description">
        {{ event.description|excerpt(120) }}

        {% if event.location %}
            <div>
                <h4>Veranstaltungsort</h4>

                <div class="event-venue" itemprop="location" itemscope itemtype="http://schema.org/Place">
                    <span itemprop="name">{{ event.institution }} {{ event.room ? ', ' ~ event.room : '' }}</span>

                    <div class="address" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        <span itemprop="streetAddress">{{ event.postal_code }}</span> <span
                                itemprop="addressLocality">{{ event.city }}</span><br>
                    </div>
                </div>

            </div>
        {% endif %}

        <div class="event-dates">

            {% if event.get_field('dates')|length > 1 %}
                <h4>{{ _e('Termine') }}</h4>
            {% endif %}

            {% for date in event.get_field('dates') %}
                <h5>{{ _e('Datum und Uhrzeit') }}</h5>
                <div class="event-date" itemprop="startDate" content="{{ date.start }}">
                    {{ date.start | date("d.m.Y") }}
                    <small>{{ date.start_time ? date.start_time : '' }}</small>
                    –
                    {{ date.end | date ("d.m.Y") }}
                    <small>{{ date.end_time ? date.end_time : '' }}</small>
                </div>
                <div class="event-duration">
                    {{ event.duration(date) }} {{ _e('Tage') }}
                </div>
            {% endfor %}

        </div>
    </div>

    <footer class="post-footer">
        <a href="{{ event.link }}" class="btn">{{ _e('Mehr erfahren') }}</a>
    </footer>
</article>