<section class="_module-header-video">
    <video autoplay="true" loop="true"
           style="width:100%;"
           poster="{{ theme.uri }}/dest/img/bg-header-full.jpg">
        <source src="{{ theme.uri }}/media/header-dancing.mp4" type='video/mp4'/>
        <source src="{{ theme.uri }}/media/header-dancing.ogv" type='video/ogg'/>
        <object type="application/x-shockwave-flash"
                data="{{ theme.uri }}/bower_components/mediaelement/build/flashmediaelement.swf">
            <param name="movie"
                   value="{{ theme.uri }}/js/mediaelement/flashmediaelement.swf"/>
            <param name="flashvars"
                   value="controls=false&file={{ theme.uri }}/media/header-dancing.mp4"/>
            <!-- Image as a last resort -->
            <img src="{{ theme.uri }}/dest/img/bg-header-full.jpg"
                 title="No video playback capabilities"/>
        </object>
    </video>
</section>