<section class="_module-home-topics">

    {% for topic in post.get_field('topics') %}
        {% set page = TimberPost(topic.page) %}
        <article class="topic">
            <h2 class="topic-title">{{ page.title }}</h2>

            <div class="post-image">
                <img src="{{ TimberImage(topic.image | default(placeholder(800,600))) }}" alt=""/>
            </div>
            <div class="topic-description">{{ topic.intro_text }}</div>
            <a class="topic-link btn" href="{{ page.link }}">{{ _e('Mehr erfahren') }}</a>
        </article>
    {% endfor %}

</section>